
.btn-facebook{background-color: #405D9D; color:#fff; &:hover{color:#fff} }
.btn-instagram{background-color:#E52D27 ; color:#fff; &:hover{color:#fff}}
.btn-youtube{background-color: #C8046C; color:#fff; &:hover{color:#fff}}
.btn-twitter{background-color:#42AEEC; color:#fff; &:hover{color:#fff}}
.btn-google{  background-color:#ff7575; color:#fff; &:hover{color:#fff} }

.btn-icon{ width: $input-height;  text-align: center;
	padding-left:0; padding-right:0;
	i{  line-height:1;  }
}

.btn-light{ background-color:#fff; border-color:$border-color; 
	i{ color:$gray-500; }
	&:hover{ background-color:#fff;  border-color:darken($border-color, 30%);  }
}

.btn{
	.text + i{ margin-left:10px; }
	i + .text{ margin-left:10px; }
}