@page "/cart"
@attribute [Authorize]

@if (cartProducts == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Shopping cart</h2>
        </div>
    </section>

    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <main class="col-md-9">
                    <div class="card">

                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in cartProducts)
                                {
                                    <tr>
                                        <td>
                                            <figure class="itemside">
                                                <div class="aside"><img src="@product.ImageSource" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="/products/@product.Id/@product.Name" class="title text-dark">
                                                        @product.Name
                                                    </a>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class="input-group input-spinner">
                                                <div class="input-group-prepend">
                                                    <button @onclick="() => DecrementQuantity(product.Id, product.Quantity)"
                                                            class="btn btn-light"
                                                            type="button"
                                                            id="button-minus">
                                                        &minus;
                                                    </button>
                                                </div>
                                                <input @bind-value="@product.Quantity" type="text" class="form-control" readonly />
                                                <div class="input-group-append">
                                                    <button @onclick="() => IncrementQuantity(product.Id, product.Quantity, product.StockQuantity)"
                                                            class="btn btn-light"
                                                            type="button"
                                                            id="button-plus">
                                                        +
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">$@(product.Price * product.Quantity)</var>
                                                <small class="text-muted"> $@product.Price each </small>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <a @onclick="() => OnRemoveAsync(product.Id)"
                                               @onclick:preventDefault
                                               href="#"
                                               class="btn btn-light">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="card-body border-top">
                            <a href="/checkout" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
                            <a href="/products/page/1" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
                        </div>
                    </div>

                    <div class="alert alert-success mt-3">
                        <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                    </div>

                </main>
                <aside class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right">$@totalPrice</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Discount:</dt>
                                <dd class="text-right">$0</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right  h5"><strong>$@totalPrice</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="images/misc/payments.png" height="26" />
                            </p>

                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </section>

    <section class="section-name bg padding-y">
        <div class="container">
            <h6>Payment and refund policy</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
}
