@page "/"

@if (products == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-intro padding-y-sm bg">
        <div class="container">

            <div class="intro-banner-wrap">
                <img src="images/banners/1.jpg" class="img-fluid rounded">
            </div>

        </div>
    </section>

    <section class="section-content padding-y-sm bg">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <article class="card card-body">
                        <figure class="itemside">
                            <div class="aside">
                                <span class="icon-sm rounded-circle bg-primary">
                                    <i class="fa fa-money-bill-alt white"></i>
                                </span>
                            </div>
                            <figcaption class="info">
                                <h5 class="title">Reasonable prices</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labor
                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="card card-body">
                        <figure class="itemside">
                            <div class="aside">
                                <span class="icon-sm rounded-circle bg-secondary">
                                    <i class="fa fa-comment-dots white"></i>
                                </span>
                            </div>
                            <figcaption class="info">
                                <h5 class="title">Customer support 24/7 </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labor
                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="card card-body">
                        <figure class="itemside">
                            <div class="aside">
                                <span class="icon-sm rounded-circle bg-success">
                                    <i class="fa fa-truck white"></i>
                                </span>
                            </div>
                            <figcaption class="info">
                                <h5 class="title">Quick delivery</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labor
                                </p>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>

        </div>
    </section>

    <section class="section-content padding-y-sm bg">
        <div class="container">

            <header class="section-heading">
                <a href="/products/page/1" class="btn btn-outline-primary float-right">See all</a>
                <h3 class="section-title">New arrived</h3>
            </header>

            <div class="row">

                @foreach (var product in products)
                {
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="/products/@product.Id/@product.Name" class="img-wrap">
                                <img src="@product.ImageSource">
                            </a>
                            <figcaption class="info-wrap">
                                <a href="/products/@product.Id/@product.Name" class="title">
                                    @product.Name
                                </a>

                                <div class="price mt-1">$@product.Price</div>
                            </figcaption>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>
}
