<div class="pagination-wrap">
    <nav class="pagination right clear">
        <a href="#">
            <i class="fa fa-angle-left"></i>
        </a>
        <span class="page-numbers current">
            1
        </span>
        <a href="#">
            2
        </a>
        <a href="#">
            3
        </a>
        <a href="#">
            <i class="fa fa-angle-right"></i>
        </a>
    </nav>
</div>

@code {

}
