@page "/"

<Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">
    <div class="text-center">
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </div>
</Animate>