@page "/products"
@page "/categories/{CategoryName}/{CategoryId:int}"

@if (categories == null || products == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-wrap pt-70 pb-40 catalogue">
        <div class="container relative">
            <div class="row">
                <div class="col-md-9 catalogue-col right mb-50">

                    <div class="shop-filter">
                        <p class="result-count">Showing: 1-12 of @products.Length results</p>
                        <AuthorizeView Roles="@Constants.AdministratorRole">
                            <a href="/products/add" class="btn btn-sm btn-color ecommerce-ordering">
                                <span>add product</span>
                            </a>
                        </AuthorizeView>
                    </div>

                    <div class="shop-catalogue grid-view left">

                        <div class="row row-10 items-grid">

                            @foreach (var product in this.products)
                            {
                                <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.5)">

                                    <div class="col-md-4 col-xs-6">

                                        <ProductItem Product="product" />

                                    </div>

                                </Animate>
                            }

                        </div>
                    </div>

                    <div class="clear"></div>

                    <Pagination />

                </div>

                <CategoriesSidebar Categories="categories" />

            </div>
        </div>
    </section>
}

@code {
    private ProductsListingResponseModel[] products;
    private CategoriesListingResponseModel[] categories;

    [Parameter] public int CategoryId { get; set; }
    [Parameter] public string CategoryName { get; set; }

    protected override async Task OnParametersSetAsync() => await this.LoadData();

    protected override async Task OnInitializedAsync() => await this.LoadData();

    private async Task LoadData()
    {
        var requestUrl = this.CategoryId == 0 || string.IsNullOrEmpty(this.CategoryName)
            ? "api/products"
            : $"api/categories/{this.CategoryId}";

        this.products = await this.Http.GetFromJsonAsync<ProductsListingResponseModel[]>(requestUrl);
        this.categories = await this.Http.GetFromJsonAsync<CategoriesListingResponseModel[]>("api/categories");
    }
}