// Colors
$text-color: #979797;
$heading-color: #444444;
$subheading-color: #acacac;
$bg-light: #f7f7f7;
$bg-dark: #171717;
$dark-grey: #424242;
$light-grey: #a3a3a3;
$border-color: #ebebeb;
$main-color: #00c9d0;


// Fonts
$body-font: 'Raleway', sans-serif;
$heading-font: 'Maven Pro', sans-serif;
$alt-font: 'Playfair Display', serif;