a{
    &:hover{ text-decoration: none;}
}

.img-wrap{text-align: center; display:block;
    img{ max-width: 100%;}
}

.icon-wrap{text-align:center; display:inline-block;}

.price-wrap{ letter-spacing: -0.7px  }

.content-body{
	flex: 1 1 auto; padding: 2rem 2.3rem; }

/* =================  DEFINED VARIABLES =================== */
.icon-xs, .icon-sm, .icon-md, .icon-lg{display:inline-block; text-align:center; flex-shrink: 0; flex-grow:0; }
.icon-xs{ width:32px;  height:32px;  line-height:32px!important; font-size:16px; }
.icon-sm{ width:48px;  height:48px;  line-height:48px!important; font-size:20px; }
.icon-md{width:60px;  height:60px;  line-height:60px!important; font-size:28px; }
.icon-lg{width:96px;  height:96px;  line-height:96px!important; font-size:42px; }


.img-xs, .img-sm, .img-md, .img-lg{object-fit:cover; flex-shrink: 0; flex-grow:0;}
.img-xs{width:40px; height:40px; }
.img-sm{width:80px; height:80px; }
.img-md{width:140px; height:140px; }
.img-lg{width:250px; height:250px; }


.center-xy{  top:50%; left:50%; position:absolute; transform:translate(-50%, -50%); }
.center-y{top: 50%; position: absolute; transform:translateY(-50%)}
.center-x{left: 50%; position: absolute; transform:translateX(-50%)}

.vh-100{ height:100vh; }

.overflow-h{overflow:hidden}
.flip-h{ transform: scaleX(-1);}

.opacity{ opacity:.5; }

[class*="hover-"]{transition:.5s;}

.hover-bg:hover{ @include diagonalGradient($primary, $primary);  transition:.5s; }
.hover-zoom:hover{
    transition:.5s; 
    transform: scaleX(1);
}



/* ============== spacing ============== */
.padding-y{padding-top:40px; padding-bottom:40px;}
.padding-top{padding-top:40px;}
.padding-bottom{padding-bottom:40px;}

.padding-y-lg{padding-top:80px;  padding-bottom:80px;}
.padding-top-lg{padding-top:80px;}
.padding-bottom-lg{padding-bottom:80px;}

.padding-y-sm{padding-top:20px; padding-bottom:20px;}
.padding-top-sm{padding-top:20px;}
.padding-bottom-sm{padding-bottom:20px;}



.relative{position:relative}
.absolute{position:absolute}

var{font-style:normal;}
figure{margin-bottom:0}


.form-noborder{
	input, select, .btn {border:0}
  select.form-control-lg:not([size]):not([multiple]){ height:2.875rem; }
}

/* all clearfix */
article:after,
.form-group:after
 {
	display: block;
  clear: both;
  content: "";
}

/* -------------------- small grid gutter --------------------- */
.row-sm {  
margin-right: -7px;  margin-left: -7px;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.row-sm > [class^="col"] {  padding-left:7px;  padding-right:7px;}

