.form-inline input[type='number'] {
    max-width: 100px;
}

.input-spinner{ width: 120px;  flex-wrap: nowrap; display:inline-flex; vertical-align: middle;
  input.form-control{ text-align: center; max-width: 46px;  flex-basis:46px;  border-color:$border-color; flex-grow: 0; }
  .btn{ width: 36px; text-align: center; }
}

.checkbox-btn{ position:relative;
	input {
	    position: absolute;
	    z-index: -1;
	    opacity: 0;
	}
	input:checked ~ .btn{
		 border-color:$primary; background-color:$primary; color:#fff; 
	}
}