<aside class="col-md-3">
    <ul class="list-group">

        @if (NavigationManager.Uri.Contains("overview"))
        {
            <a class="list-group-item active" href="/account/overview"> Account overview  </a>
            <a class="list-group-item" href="/orders/mine"> My orders </a>
            <a class="list-group-item" href="/addresses"> My addresses </a>
            <a class="list-group-item" href="/account/settings"> Settings </a>
            <a class="list-group-item" href="/account/password"> Change Password </a>
        }
        else if (NavigationManager.Uri.Contains("orders"))
        {
            <a class="list-group-item" href="/account/overview"> Account overview  </a>
            <a class="list-group-item active" href="/orders/mine"> My orders </a>
            <a class="list-group-item" href="/addresses"> My addresses </a>
            <a class="list-group-item" href="/account/settings"> Settings </a>
            <a class="list-group-item" href="/account/passsword"> Change Password </a>
        }
        else if (NavigationManager.Uri.Contains("addresses"))
        {
            <a class="list-group-item" href="/account/overview"> Account overview  </a>
            <a class="list-group-item" href="/orders/mine"> My orders </a>
            <a class="list-group-item active" href="/addresses"> My addresses </a>
            <a class="list-group-item" href="/account/settings"> Settings </a>
            <a class="list-group-item" href="/account/password"> Change Password </a>
        }
        else if (NavigationManager.Uri.Contains("settings"))
        {
            <a class="list-group-item" href="/account/overview"> Account overview  </a>
            <a class="list-group-item" href="/orders/mine"> My orders </a>
            <a class="list-group-item" href="/addresses"> My addresses </a>
            <a class="list-group-item active" href="/account/settings"> Settings </a>
            <a class="list-group-item" href="/account/password"> Change Password </a>
        }
        else if (NavigationManager.Uri.Contains("password"))
        {
            <a class="list-group-item" href="/account/overview"> Account overview  </a>
            <a class="list-group-item" href="/orders/mine"> My orders </a>
            <a class="list-group-item" href="/addresses"> My addresses </a>
            <a class="list-group-item" href="/account/settings"> Settings </a>
            <a class="list-group-item active" href="/account/password"> Change Password </a>
        }

    </ul>

    <br />

    <a class="btn btn-light btn-block" href="/" @onclick="Submit">
        <i class="fas fa-sign-out-alt"></i> <span class="text">Log out</span>
    </a>
</aside>
