@inject ILocalStorageService LocalStorage

<div class="form-row">
    <EditForm Model="model" OnValidSubmit="() => OnSubmitAsync(ProductId)">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group col-md flex-grow-0">
            <label>Quantity</label>
            <div class="input-group mb-3 input-spinner">
                <div class="input-group-prepend">
                    <button @onclick="DecrementQuantity" class="btn btn-light" type="button" id="button-minus"> &minus; </button>
                </div>
                <input @bind-value="model.Quantity" type="text" class="form-control">
                <div class="input-group-append">
                    <button @onclick="IncrementQuantity" class="btn btn-light" type="button" id="button-plus"> + </button>
                </div>
            </div>
        </div>
        <div class="form-group col-md">
            <label>Select size</label>
            <div class="mt-1">

                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="select_size" checked="" class="custom-control-input">
                    <div class="custom-control-label">Small</div>
                </label>

                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="select_size" class="custom-control-input">
                    <div class="custom-control-label">Medium</div>
                </label>

                <label class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="select_size" class="custom-control-input">
                    <div class="custom-control-label">Large</div>
                </label>

            </div>
        </div>

        <button type="submit" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
        <a @onclick="() => AddToWishlist(ProductId)"
           @onclick:preventDefault
           href="#"
           class="btn  btn-light">
            <i class="fas fa-heart"></i>
        </a>
    </EditForm>
</div>

@code {
    private readonly ShoppingCartRequestModel model = new ShoppingCartRequestModel();

    [Parameter]
    public int ProductId { get; set; }

    [Parameter]
    public int ProductQuantity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var token = await this.LocalStorage.GetItemAsync<string>("authToken");
        this.Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
    }

    private async Task OnSubmitAsync(int id)
    {
        await this.Http.PostAsJsonAsync($"api/shoppingcarts/{id}", model);
        this.NavigationManager.NavigateTo("/cart", forceLoad: true);
    }

    private async Task AddToWishlist(int id)
    {
        await this.Http.PostAsJsonAsync($"api/wishlists/{id}", id);
    }

    private void IncrementQuantity()
    {
        if (this.model.Quantity < this.ProductQuantity)
        {
            this.model.Quantity++;
        }
    }

    private void DecrementQuantity()
    {
        if (this.model.Quantity > 1)
        {
            this.model.Quantity--;
        }
    }
}
