<div class="widget bestsellers">
    <div class="products-widget">
        <h3 class="widget-title uppercase">Bestsellers</h3>
        <ul class="product-list-widget">
            <li class="clearfix">
                <a href="shop-single-product.html">
                    <img src="img/shop/shop_item_9.jpg" alt="bestseller">
                    <span class="product-title">Sleeveless dress</span>
                </a>
                <span class="price">
                    <ins>
                        <span class="ammount">$120.00</span>
                    </ins>
                </span>
            </li>
            <li class="clearfix">
                <a href="shop-single-product.html">
                    <img src="img/shop/shop_item_10.jpg" alt="bestseller">
                    <span class="product-title">Violet Party Dress</span>
                </a>
                <span class="price">
                    <ins>
                        <span class="ammount">$179.00</span>
                    </ins>
                </span>
            </li>
        </ul>
    </div>
</div>

@code {
}
