<aside class="col-md-3 sidebar left-sidebar">

    <div class="widget categories">
        <h3 class="widget-title uppercase">Categories</h3>
        <ul class="list-no-dividers">

            @foreach (var category in Categories)
            {
                var classActive = string.Empty;
                var categoryName = category.Name.ToLower();

                if (NavigationManager.Uri.Contains("categories"))
                {
                    var currentCategory = NavigationManager.Uri.Split('/')[4];
                    classActive = currentCategory == categoryName ? "active-cat" : string.Empty;
                }

                <li class="@classActive">
                    <a href="/categories/@categoryName/@category.Id">
                        @category.Name
                    </a>
                </li>
            }

        </ul>
    </div>

    @*<BestSellers />*@

</aside>

@code {
    [Parameter] public CategoryListingResponseModel[] Categories { get; set; }
}
