<footer class="footer footer-type-1 bg-white">
    <div class="container">
        <div class="footer-widgets top-bottom-dividers pb-mdm-20">
            <div class="row">

                <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title uppercase">Information</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">Our stores</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Business with us</a></li>
                            <li><a href="#">Delivery information</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title uppercase">Help</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Track order</a></li>
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Returns</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4 col-xxs-12">
                    <div class="widget footer-links">
                        <h5 class="widget-title uppercase">Account</h5>
                        <ul class="list-no-dividers">
                            <li><a href="#">My account</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Special gifts</a></li>
                            <li><a href="#">Track order</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget">
                        <h5 class="widget-title uppercase">about us</h5>
                        <p class="mb-0">@Constants.ProjectName understand consumer needs in uncertain times.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget footer-get-in-touch">
                        <h5 class="widget-title uppercase">Contact</h5>
                        <address class="footer-address"><span>Address:</span> Sofia, Bulgaria</address>
                        <p>Phone: <a href="tel:+1-888-1554-456-123">+1-888-1554-456-123</a></p>
                        <p>Email: <a href="mailto:kalintsenkov3@gmail.com">kalintsenkov3@gmail.com</a></p>
                        <div class="social-icons rounded mt-20">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bottom-footer bg-white">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 copyright sm-text-center">
                    <span>
                        &copy; @DateTime.UtcNow.Year @Constants.ProjectName
                    </span>
                </div>

                <div class="col-sm-6 col-xs-12 footer-payment-systems text-right sm-text-center mt-sml-10">
                    <a href="https://github.com/kalintsenkov/BlazorShop" target="_blank"><i class="fab fa-github"></i> Open Source</a>
                </div>

            </div>
        </div>
    </div>
</footer>