<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-top padding-y">
            <div class="row">
                <aside class="col-md-4">
                    <article class="mr-3">
                        <img src="./images/logo.png" class="logo-footer">
                        <p class="mt-3">@Constants.ProjectName understand consumer needs in uncertain times.</p>
                        <div>
                            <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </article>
                </aside>
                <aside class="col-sm-3 col-md-2">
                    <h6 class="title">About</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">About us</a></li>
                        <li> <a href="#">Services</a></li>
                        <li> <a href="#">Rules and terms</a></li>
                        <li> <a href="#">Blogs</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3 col-md-2">
                    <h6 class="title">Services</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Help center</a></li>
                        <li> <a href="#">Money refund</a></li>
                        <li> <a href="#">Terms and Policy</a></li>
                        <li> <a href="#">Open dispute</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3  col-md-2">
                    <h6 class="title">For users</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> Account Settings </a></li>
                        <li> <a href="#"> My Orders </a></li>
                        <li> <a href="#"> My Wishlist </a></li>
                    </ul>
                </aside>
            </div>
        </section>

        <section class="footer-copyright border-top">
            <p class="float-left text-muted"> &copy; @DateTime.UtcNow.Year @Constants.ProjectName </p>
            <p target="_blank" class="float-right text-muted">
                <a href="https://github.com/kalintsenkov/BlazorShop" target="_blank"><i class="fab fa-github"></i> Open Source</a>
            </p>
        </section>
    </div>
</footer>