@if (categories == null)
{
    <LoadingScreen />
}
else
{
    <header class="section-header">
        <section class="navbar-light border-bottom">
            <div class="container">
                <nav class="d-flex align-items-center flex-column flex-md-row">
                    <ul class="nav mr-md-auto">
                        <li><a href="#" class="nav-link px-2"> <i class="fab fa-facebook"></i> </a></li>
                        <li><a href="#" class="nav-link px-2"> <i class="fab fa-instagram"></i> </a></li>
                        <li><a href="#" class="nav-link px-2"> <i class="fab fa-twitter"></i> </a></li>
                    </ul>

                    <ul class="nav ">
                        <AuthorizeView>
                            <Authorized>
                                <li class="nav-item"><a href="/account/overview" class="nav-link">  <i class="fa fa-user-circle"></i> My Account </a></li>
                                <li class="nav-item"><a href="/wishlist" class="nav-link">  <i class="fa fa-heart"></i> Wishlist </a></li>
                                <NavCart />
                                <Logout />
                            </Authorized>
                            <NotAuthorized>
                                <li class="nav-item"><a href="/account/login" class="nav-link">  Login </a></li>
                                <li class="nav-item"><a href="/account/register" class="nav-link">  Register </a></li>
                            </NotAuthorized>
                        </AuthorizeView>

                    </ul>
                </nav>
            </div>
        </section>

        <section class="border-bottom">
            <nav class="navbar navbar-main  navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="./images/logo.png" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav2" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="main_nav2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="/"> <strong>Home</strong> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/wishlist">Wishlist</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products">Products</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a @onclick:preventDefault
                                   class="nav-link dropdown-toggle"
                                   href=""
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu">
                                    @foreach (var category in categories)
                                    {
                                        <a class="dropdown-item"
                                           href="/categories/@category.Name.ToLower()/@category.Id">
                                            @category.Name
                                        </a>
                                    }
                                </div>
                            </li>
                        </ul>

                        <NavSearch />

                    </div>
                </div>
            </nav>
        </section>
    </header>
}

@code {
    private CategoriesListingResponseModel[] categories;

    protected override async Task OnInitializedAsync()
        => this.categories = await this.Http.GetFromJsonAsync<CategoriesListingResponseModel[]>("api/categories");
}