@inherits LayoutComponentBase

<main class="main-container oh">
    <Header />

    @Body

    <Footer />
</main>

<BlazoredToasts IconType="IconType.FontAwesome"
                SuccessIcon="far fa-check-circle" />
