@inject ILocalStorageService LocalStorage
@attribute [Authorize]

@if (cartProducts == null)
{
    <LoadingScreen />
}
else
{
    <a href="/cart" class="widget-header mr-3">
        <div class="icon">
            <i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
            <span class="notify">@cartProducts.Length</span>
        </div>
    </a>
}

@code {
    private ShoppingCartProductsResponseModel[] cartProducts;

    protected override async Task OnInitializedAsync()
    {
        var token = await this.LocalStorage.GetItemAsync<string>("authToken");
        this.Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        this.cartProducts = await this.Http.GetFromJsonAsync<ShoppingCartProductsResponseModel[]>("api/shoppingcarts");
    }
}
