<EditForm Model="searchModel" OnValidSubmit="Search" method="get" class="search">
    <div class="input-group w-100">
        <InputText @bind-Value="searchModel.Query" type="text" class="form-control" placeholder="Search" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</EditForm>

@code {
    private readonly SearchRequestModel searchModel = new SearchRequestModel();

    private void Search()
    {
        this.NavigationManager.NavigateTo($"/products/{this.searchModel.Query}/1");
    }
}
