<aside class="col-md-3">

    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">

                    <ul class="list-menu">

                        @foreach (var category in Categories)
                        {
                            var classActive = string.Empty;
                            var categoryName = category.Name.ToLower();

                            if (NavigationManager.Uri.Contains("categories"))
                            {
                                var currentCategory = NavigationManager.Uri.Split('/')[4];
                                classActive = currentCategory == categoryName ? "active" : string.Empty;
                            }

                            <li>
                                <a class="@classActive"
                                   href="/categories/@categoryName/@category.Id">
                                    @category.Name
                                </a>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </article>
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    <input type="range" class="custom-range" min="0" max="100" name="">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input class="form-control" placeholder="$0" type="number">
                        </div>
                        <div class="form-group text-right col-md-6">
                            <label>Max</label>
                            <input class="form-control" placeholder="$1,0000" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sizes </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                    <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> XS </span>
                    </label>

                    <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> SM </span>
                    </label>

                    <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> LG </span>
                    </label>

                    <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> XXL </span>
                    </label>
                </div>
            </div>
        </article>

    </div>

</aside>

@code {
    [Parameter]
    public CategoriesListingResponseModel[] Categories { get; set; }
}
