@page "/products/add"
@attribute [Authorize(Roles = GlobalConstants.AdminRoleName)]

@if (categories == null)
{
    <LoadingScreen />
}
else
{
    <section class="page-title text-center">
        <div class="container relative clearfix">
            <div class="title-holder">
                <div class="title-text">
                    <h1 class="uppercase">add product</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section-wrap">
        <div class="container">

            <EditForm Model="model" OnValidSubmit="SubmitAsync">

                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row">
                    <div class="col-md-6">

                        <label>Name</label>
                        <InputText @bind-Value="model.Name" type="text" />

                        <label>Image</label>
                        <InputText @bind-Value="model.ImageSource" type="url" />

                        <label>Description</label>
                        <InputTextArea @bind-Value="model.Description" rows="3" />

                    </div>

                    <div class="col-md-6">

                        <label>Category</label>
                        @*TODO: Validate CategoryId*@
                        <InputSelectNumber @bind-Value="model.CategoryId">
                            @foreach (var category in categories)
                                {
                                <option value="@category.Id">@category.Name</option>
                                }
                        </InputSelectNumber>

                        <label>Price</label>
                        <InputNumber @bind-Value="model.Price" />

                        <label>Quantity</label>
                        <InputNumber @bind-Value="model.Quantity" />
                    </div>
                </div>

                <button type="submit" class="btn btn-lg"> Create </button>

            </EditForm>
        </div>
    </section>
}

@code {
    private readonly ProductsCreateRequestModel model = new ProductsCreateRequestModel();

    private CategoriesListingResponseModel[] categories;

    protected override async Task OnInitializedAsync()
    {
        this.categories = await this.Http.GetFromJsonAsync<CategoriesListingResponseModel[]>("api/categories");
    }

    private async Task SubmitAsync()
    {
        var token = await this.TokenProvider.GetTokenAsync();
        this.Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

        var response = await this.Http.PostAsJsonAsync<ProductsCreateRequestModel>("api/products", model);
        var id = await response.Content.ReadFromJsonAsync<int>();

        this.NavigationManager.NavigateTo($"/products/{id}/{model.Name}");
    }
}