@page "/categories/{Id:int}"

<section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
        <div class="row">

            @if (categories == null || products == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div class="col-md-9 catalogue-col right mb-50">

                    <div class="shop-filter">
                        <p class="result-count">Showing: 1-12 of @products.Length results</p>
                        <AuthorizeView Roles="@GlobalConstants.AdminRoleName">
                            <a href="/products/add" class="btn btn-sm btn-color ecommerce-ordering">
                                <span>add product</span>
                            </a>
                        </AuthorizeView>
                    </div>

                    <div class="shop-catalogue grid-view left">

                        <div class="row row-10 items-grid">

                            @foreach (var product in products)
                            {
                                <ProductItem Product="product" />
                            }

                        </div>
                    </div>

                    <div class="clear"></div>

                    <Pagination />

                </div>

                <CategoriesSidebar Categories="categories" />
            }

        </div>
    </div>
</section>

@code {
    private ProductsListingResponseModel[] products;
    private CategoriesListingResponseModel[] categories;

    [Parameter] public int Id { get; set; }

    protected override async Task OnParametersSetAsync() => await this.LoadData();

    protected override async Task OnInitializedAsync() => await this.LoadData();

    private async Task LoadData()
    {
        this.products = await this.Http.GetFromJsonAsync<ProductsListingResponseModel[]>($"api/categories/{this.Id}");
        this.categories = await this.Http.GetFromJsonAsync<CategoriesListingResponseModel[]>("api/categories");
    }
}
