@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider TokenProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <NavLink class="nav-link" href="/account/login">
        Login
    </NavLink>
    <NavLink class="nav-link" href="/account/register">
        Register
    </NavLink>
    <AuthorizeView>
        Logged in as @context.User.Identity.Name
        <button class="btn btn-sm btn-outline-dark" @onclick="@(() => TokenProvider.SetTokenAsync(null))">Logout</button>
    </AuthorizeView>

    <div class="content px-4">
        @Body
    </div>
</div>
