@page "/counter"

<div class="text-center">
    <h1>Counter</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-color" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
