@page "/"

<br />
<div class="card mx-auto" style="width: 50%;">
    <div class="card-body">
        <h1 class="card-title">Hello, world!</h1>
        <p class="card-text">Welcome to your new app.</p>
        <SurveyPrompt Title="How is Blazor working for you?" />
    </div>
</div>
