@page "/account/password"
@attribute [Authorize]

<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">

            <AccountSidebar />

            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <h4 class="card-title mb-4">Change Password</h4>
                        <EditForm Model="model" OnValidSubmit="SubmitAsync">

                            <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Current password</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="model.Password" class="form-control" type="password" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">New password</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="model.NewPassword" class="form-control" type="password" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Confirm new password</label>
                                <div class="col-sm-6">
                                    <InputText @bind-Value="model.ConfirmNewPassword" class="form-control" type="password" />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary"> Save changes </button>
                        </EditForm>

                    </div>
                </article>

            </main>
        </div>

    </div>
</section>
