@page "/account/login"

<section class="page-title text-center">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="uppercase">Login</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-wrap login-register pt-0 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <EditForm Model="model" OnValidSubmit="SubmitAsync" class="login">

                    <ErrorsList ShowErrors="showErrors" Errors="errors" />
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <p class="form-row form-row-wide">
                        <label>
                            username
                            <abbr class="required" title="Required">*</abbr>
                        </label>
                        <InputText class="form-control" placeholder="Username" type="text" @bind-Value="model.Username" />
                    </p>

                    <p class="form-row form-row-wide">
                        <label>
                            password
                            <abbr class="required" title="Required">*</abbr>
                        </label>
                        <InputText class="form-control" placeholder="Password" type="password" @bind-Value="model.Password" />
                    </p>

                    <button type="submit" class="btn"> Login </button>

                </EditForm>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</section>

@code {
    private readonly LoginRequestModel model = new LoginRequestModel();

    private bool showErrors;
    private IEnumerable<string> errors;

    private async Task SubmitAsync()
    {
        var result = await this.AuthService.Login(model);

        if (result.Succeeded)
        {
            this.NavigationManager.NavigateTo("/");
        }
        else
        {
            this.errors = result.Errors;
            this.showErrors = true;
        }
    }
}
