@inject IToastService ToastService
@attribute [Authorize]

<a href="/" @onclick="Submit">Logout</a>

@code {
    private async Task Submit()
    {
        await this.AuthService.Logout();

        this.ToastService.ShowSuccess("You have been successfully logged out!");
    }
}