@attribute [Authorize]

<li class="nav-item">
    <a class="nav-link" href="/" @onclick="Submit"> <i class="fas fa-sign-out-alt"></i> Log out</a>
</li>

@code {
    private async Task Submit()
    {
        await this.AuthService.Logout();
    }
}
