@page "/account/profile"
@attribute [Authorize]

<section class="page-title text-center">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="uppercase">My Account</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-wrap woocommerce-account pt-0 pb-60">
    <div class="container">
        <div class="woocommerce">
            <nav class="woocommerce-MyAccount-navigation">
                <ul>
                    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                        <a href="#">Orders</a>
                    </li>
                    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                        <a href="#">Downloads</a>
                    </li>
                    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
                        <a href="#">Addresses</a>
                    </li>
                    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account is-active">
                        <a href="#">Account details</a>
                    </li>
                    <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </nav>

            <div class="woocommerce-MyAccount-content">
                <form class="woocommerce-EditAccountForm edit-account">

                    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                        <label for="account_first_name">
                            First name&nbsp;<span class="required">*</span>
                        </label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_first_name" id="account_first_name" autocomplete="off" />
                    </p>

                    <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                        <label for="account_last_name">
                            Last name&nbsp;<span class="required">*</span>
                        </label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_last_name" id="account_last_name" autocomplete="family-name" />
                    </p>

                    <div class="clear"></div>

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="account_display_name">
                            Display name&nbsp;<span class="required">*</span>
                        </label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_display_name" id="account_display_name" />
                        <span><em>This will be how your name will be displayed in the account section and in reviews</em></span>
                    </p>

                    <div class="clear"></div>

                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="account_email">
                            Email address&nbsp;<span class="required">*</span>
                        </label>
                        <input type="email" class="woocommerce-Input woocommerce-Input--email input-text" name="account_email" id="account_email" autocomplete="email" />
                    </p>

                    <div class="clear"></div>

                    <fieldset>
                        <legend class="heading uppercase mb-30">Password change</legend>

                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password_current">Current password (leave blank to leave unchanged)</label>
                            <span class="password-input"><input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_current" id="password_current" autocomplete="off"></span>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password_1">New password (leave blank to leave unchanged)</label>
                            <span class="password-input"><input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_1" id="password_1" autocomplete="off"></span>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password_2">Confirm new password</label>
                            <span class="password-input">
                                <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_2" id="password_2" autocomplete="off" />
                            </span>
                        </p>
                    </fieldset>

                    <p>
                        <button type="submit" class="btn btn-lg woocommerce-Button button" name="save_account_details" value="Save changes">
                            Save changes
                        </button>
                    </p>

                    <div class="clear"></div>

                </form>
            </div>

        </div>
    </div>
</section>

@code {
}
