@page "/account/register"

<section class="section-content padding-y">

    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Register</h4></header>
            <EditForm Model="model" OnValidSubmit="SubmitAsync">

                <ErrorsList ShowErrors="showErrors" Errors="errors" />
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label>First name</label>
                    <InputText @bind-Value="model.FirstName" type="text" class="form-control" placeholder="Enter your first name" />
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <InputText @bind-Value="model.LastName" type="text" class="form-control" placeholder="Enter your last name" />
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <InputText @bind-Value="model.Email" type="email" class="form-control" placeholder="Enter your e-mail" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="model.Password" class="form-control" type="password" placeholder="Enter your password" />
                </div>
                <div class="form-group">
                    <label>Confirrm password</label>
                    <InputText @bind-Value="model.ConfirmPassword" class="form-control" type="password" placeholder="Confirm your password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div>
            </EditForm>
        </article>
    </div>

    <p class="text-center mt-4">Have an account? <a href="/account/login">Log In</a></p>
    <br /><br />

</section>

@code {
    private readonly RegisterRequestModel model = new RegisterRequestModel();

    private bool showErrors;
    private IEnumerable<string> errors;

    private async Task SubmitAsync()
    {
        var result = await this.AuthService.Register(model);

        if (result.Succeeded)
        {
            this.NavigationManager.NavigateTo("/account/login");
        }
        else
        {
            this.errors = result.Errors;
            this.showErrors = true;
        }
    }
}