@page "/account/settings"
@attribute [Authorize]

@if (model == null)
{
    <LoadingScreen />
}
else
{
    <section class="section-content padding-y bg">
        <div class="container">

            <div class="row">

                <AccountSidebar />

                <main class="col-md-9">

                    <article class="card mb-3">
                        <div class="card-body">

                            <h4 class="card-title mb-4">Account Settings</h4>
                            <EditForm Model="model" OnValidSubmit="SubmitAsync">

                                <ErrorsList ShowErrors="showErrors" Errors="errors" />
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <InputText @bind-Value="email" type="email" class="form-control-plaintext" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">First name</label>
                                    <div class="col-sm-6">
                                        <InputText @bind-Value="model.FirstName" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Last name</label>
                                    <div class="col-sm-6">
                                        <InputText @bind-Value="model.LastName" type="text" class="form-control" />
                                    </div>
                                </div>

                                <button class="btn btn-primary"> Save changes </button>
                            </EditForm>

                        </div>
                    </article>

                </main>
            </div>

        </div>
    </section>
}

@code {
    private readonly ChangeSettingsRequestModel model = new ChangeSettingsRequestModel();

    private string email;
    private bool showErrors;
    private IEnumerable<string> errors;

    protected override async Task OnInitializedAsync() => await this.LoadDataAsync();

    private async Task SubmitAsync()
    {
        var response = await this.ApiClient.PutJsonAsync("api/identity/changesettings", this.model);

        if (response.IsSuccessStatusCode)
        {
            this.showErrors = false;

            await this.AuthService.Logout();

            this.ToastService.ShowSuccess("Your account settings has been changed successfully.\n Please login.");
            this.NavigationManager.NavigateTo("/account/login");
        }
        else
        {
            this.errors = await response.Content.ReadFromJsonAsync<string[]>();
            this.showErrors = true;
        }
    }

    private async Task LoadDataAsync()
    {
        var state = await this.AuthState.GetAuthenticationStateAsync();
        var user = state.User;

        this.email = user.GetEmail();
        this.model.FirstName = user.GetFirstName();
        this.model.LastName = user.GetLastName();
    }
}
