@page "/account/register"

<section class="page-title text-center">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="uppercase">Register</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-wrap login-register pt-0 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <div class="register">
                    <p class="form-row form-row-wide">
                        <label>
                            email
                            <abbr class="required" title="Required">*</abbr>
                        </label>
                        <input type="text" class="input-text" placeholder="Email">
                    </p>
                    <p class="form-row form-row-wide">
                        <label>
                            username
                            <abbr class="required" title="Required">*</abbr>
                        </label>
                        <input type="text" class="input-text" placeholder="Username">
                    </p>
                    <p class="form-row form-row-wide">
                        <label>
                            password
                            <abbr class="required" title="Required">*</abbr>
                        </label>
                        <input type="text" class="input-text" placeholder="Password">
                    </p>
                    <button type="submit" class="btn"> Register </button>
                </div>
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
</section>