<footer class="section-footer border-top padding-y">
    <div class="container">
        <p class="float-md-right">
            &copy @DateTime.Now.Year All rights reserved
        </p>
        <p>
            <a href="#">Terms and conditions</a>
        </p>
    </div>
</footer>