@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">SheryLady.Web</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>*@

<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
    <div class="container">
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link pl-0" data-toggle="dropdown" href="#"><strong> <i class="fa fa-bars"></i> &nbsp; Categories</strong></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Kartichki</a>
                        <a class="dropdown-item" href="#">Bijuta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Test 1</a>
                        <a class="dropdown-item" href="#">Test 2</a>
                        <a class="dropdown-item" href="#">Test 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All">Counter</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="fetchdata" Match="NavLinkMatch.All">Fetch Data</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
